.vehicle-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
}

.card-container {

}

@media (max-width: 1000px) {
    .vehicle-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .card-container {

    }
}
